.wapper {
  padding: 0 0 14px 0;
}

.topNav {
  background: #202225;
  position: fixed;
  z-index: 999;
  padding: 12px 10px 0px 10px;
  width: 64px;
  left: 0;
  top: 0;
  bottom: 0;
  .logo {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    display: block;
  }
  .topMenu {
    padding: 12px 0 0 0;
    :global {
      .w-tooltip {
        display: block;
      }
    }
    a {
      font-size: 20px;
      padding: 8px 0;
      text-align: center;
      display: block;
      color: #8f9aa5;
      svg {
        margin-right: 0;
        fill: #8f9aa5;
      }
      &.active {
        color: #fff;
        svg {
          fill: #fff;
        }
      }
      &:hover {
        color: #fff;
        svg {
          fill: #fff;
        }
      }
    }
  }
}
